.slideItem {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 5px;
  background-color: white;
  height: 100%;
  width: 160px;
  cursor:pointer;
}
.slideItemContainer {
  color: white;
  display: flex;
  align-items: flex-start;
  height: 100%;
}
.slideNumber {
  font-size: 24px;
  margin-right: 10px;
}

.slideContent {
  flex: 1;
  color: #3b0493;
  font-size: 14px;
}
.selected {
  border: #3b0493 solid 3px;
}
