/* SlidesList.module.css */

.imagesList {
  height: 90vh;
  
  overflow-y: scroll;
}

.imagesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 10px; /* Column gap */
  position: relative;
  padding: 8px;
}
