.MainContainer {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: flex-end;
    width: 70%;
}
.MainContainerMain {
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    display: flex;
    flex: 80%;
}
.MainContainerFooter {
    flex: 150px;
    padding: 10px;
}
