/* ModeSwitcher.module.css */

.ModeSwitcher {
    display: flex;
    justify-content: space-between;
    width: 220px; /* Adjust the width as needed */
    background-color: #eee; /* Add your preferred background color */
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.designMode {
    background-color: #8bd4d9; /* Design mode background color */
    color: #fff; /* Design mode text color */
}

.modeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
    background-color: #fff; /* Box background color */
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    padding: 5px;
}

.modeBox:hover {
    background-color: #ddd; /* Hover background color */
}
